
<header>
    <nav class="menu" role="navigation">
        <div class="menu__toggle">        
            <input type="checkbox" id="checkMenu">                    
            <span></span>
            <span></span>
            <span></span>
            <ul class="navbar">
              <li><a [routerLink]="['/home']" class="link-item">Home</a></li>
              <li><a [routerLink]="['/launchesPast']" class="link-item">Launches Past</a></li>                                     
              <li><a [routerLink]="['/links-list']" class="link-item">Links List</a></li>              
            </ul>                              
                 
        </div>
        <span>SpaceX</span>                           
    </nav>            
</header>
    


