.container {
    width: 55%;
  }
  
  @media screen and (max-width:500px) {
    .container {
      width: 80%;
    }
  }

  
  section.launchesCard__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  